[Unit]
Description=Minecraft Server Handler
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c 'echo "Minecraft handler ready."'
ExecStop=/bin/bash -c '
  for srv in $(systemctl list-units --type=service --no-legend | grep "minecraft@" | cut -d" " -f1); do
    echo "Stopping $srv...";
    systemctl stop "$srv" &
  done
  wait
'

[Install]
WantedBy=multi-user.target
